/* Define as propriedades para todos os elementos */
* {
    box-sizing: border-box;
}

/* Define as propriedades do corpo da página */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Define a classe .border para ter uma borda vermelha */
.border {
    border: 1px solid red;
}

/* Define as propriedades da barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: #004b41;
    padding: 12px;
    overflow: hidden;
    /* transition: width 0.2s ease-in-out; */
    z-index: 999; /* Garante que o sidebar fique sobreposto a outros elementos */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
}

/* Define as propriedades da barra lateral quando ela estiver colapsada */
.sidebar-collapsed {
    width: 60px;
}

/* Define as propriedades da navegação na barra lateral */
.sidebar nav {
    display: flex;
    flex-direction: column;
    height: 0;
}

/* Define as propriedades dos links na navegação */
.sidebar nav a {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background-color: #ffffff;
    height: 36px;
}

/* Define as propriedades dos links na navegação quando o mouse estiver sobre eles */
.sidebar nav a:hover {
    background-color: #ddd;
}

/* Define as propriedades dos ícones na navegação */
.sidebar nav a i {
    font-size: 20px;
    margin-right: 10px;
}

/* Define as propriedades do corpo principal da página */
.main {
    margin-left: 60px;
    padding: 20px;
    /* transition: margin-left 0.2s ease-in-out; */
}

/* Define as propriedades do corpo principal da página quando a barra lateral estiver colapsada */
/* .sidebar-collapsed + .main {
    margin-left: 70px;
} */

/* Define as propriedades do texto dos links na navegação quando a barra lateral estiver colapsada */
.sidebar-collapsed a span {
    display: none;
}

/* Define as propriedades dos ícones dos links na navegação quando a barra lateral estiver colapsada */
.sidebar-collapsed a .sidebar-text {
    display: none;
}

/* Adicione o estilo abaixo para ocultar o submenu por padrão */
.submenu {
    display: none;
}

/* Adicione o estilo abaixo para mostrar o submenu quando o link correspondente é clicado */
.submenu.active {
    display: block;
}

.sidebar-collapsed .submenu {
    display: none;
}

.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.submenu li {
    padding-left: 15px;
}

.submenu a {
    display: block;
    padding: 10px 0;
    color: #fff;
}

.submenu a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.submenu-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    /* transform: translateY(-50%); */
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.submenu-toggle:hover {
    color: #e61b1b;
}

.tab-content {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/* Estilos para o formulário */

/* Estilo para labels */
label {
    font-weight: 600; /* define negrito leve para o label */
    margin-bottom: 5px; /* adiciona uma margem inferior para separar o label do input */
}

/* Estilo para inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%; /* define a largura dos inputs como 100% */
    padding: 4px; /* adiciona preenchimento nos inputs */
    border: 1px solid #ccc; /* define uma borda cinza para os inputs */
    border-radius: 5px; /* define um arredondamento nas bordas dos inputs */
    box-sizing: border-box; /* define a caixa da borda para incluir o preenchimento e a borda */
    font-size: 16px; /* define o tamanho da fonte */
    margin-bottom: -5px; /* adiciona uma margem inferior para separar os inputs */
}

.sidebar-header {
    width: 100%;
    margin-bottom: 10px;
}

.logo-img {
    width: 35px;
    min-height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
}
.logo-img:hover {
    transform: scale(1.5);
}

.form-group button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
}

.card-header {
    background-color: #87ceeb;
    height: 50px;
    padding: 10px;
    border-bottom: none;
}

.card-header h4 {
    font-size: 18px;
}

.card-header .btn {
    color: #007bff;
    border-color: rgb(255, 255, 255);
}

.card-header .btn:hover {
    background-color: #363636;
    color: #fff;
}
.my-custom-alert {
    font-size: 14px;
    left: 70%;
    width: 28%;
    padding: 2px 16px;
    border-radius: 4px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.bg-primary-custom {
    background-color: #004b41 !important; /* Substitua pela cor primária desejada */
    color: #fff !important; /* Defina uma cor de texto adequada para contrastar com o fundo */
}

.custom-btn-primary {
    background-color: #005a4e !important; /* Substitua pela cor desejada */
}

